.root {
    -fx-background-color: black;
}

.control-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.control-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.play-button {
    -fx-background-image: url("/music/project/play_icon.png");
    -fx-background-size: 40px;
}

.pause-button {
    -fx-background-image: url("/music/project/pause_icon.png");
    -fx-background-size: 40px;
}

.custom-slider .track {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.custom-slider .thumb {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: white;
}
